// .banner {
//     margin-bottom: 160px;
//     &__container {
//         display: flex;
//         align-items: flex-start;
//         gap: 30px;
//     }
//     &__heading,
//     &__image {
//         width: 50%;
//     }
//     &__heading {
//         // display: flex;
//         align-items: center;
//         flex-direction: column;
//     }
//     &__heading {
//         max-width: 510px;
//     }
//     &__title {
//         font-size: 67px;
//         font-weight: 600;
//         line-height: 110%;
//         padding-bottom: 20px;
//     }
//     &__desc {
//         font-size: 22px;
//         line-height: 160%;
//         padding-bottom: 30px;
//     }
//     &__started {
//         text-decoration: none;
//         margin-bottom: 30px;
//     }
//     &__info {
//         display: flex;
//         align-items: flex-start;
//         justify-content: space-between;
//         gap: 30px;
//         align-self: stretch;
//         &-data {
//             font-weight: 700;
//             font-size: 28px;
//             font-family: $font-secondary;
//             line-height: 140%;
//         }
//         &-title {
//             font-size: 23.99px;
//             font-weight: 400;
//             line-height: 160%;
//         }
//         &-item {
//             flex: 1;
//         }
//     }
//     &__image-gif {
//         width: 510px;
//         height: 510px;
//     }
// }

// @media screen and (max-width: 1024px) {
//     .banner {
//         margin-bottom: 120px;
//         &__title {
//             font-size: 38px;
//             line-height: 120%;
//         }
//         &__desc {
//             font-size: 16px;
//             line-height: 140%;
//         }
//         &__info {
//             &-data {
//                 font-size: 22px;
//                 line-height: 160%;
//             }
//             &-title {
//                 font-size: 16px;
//                 line-height: 140%;
//                 font-weight: 400;
//             }
//         }
//         &__image-gif {
//             width: 100%;
//             height: 100%;
//         }
//     }
//     .mobile {
//         display: none;
//     }
// }
// @media screen and (max-width: 767px) {
//     .banner {
//         margin-bottom: 80px;
//         &__container {
//             flex-direction: column;
//         }
//         &__heading,
//         &__image {
//             width: 100%;
//         }
//         &__title {
//             font-size: 28px;
//             font-weight: 600;
//             line-height: 140%;
//             padding-bottom: 10px;
//         }
//         &__desc {
//             font-size: 16px;
//             font-weight: 400;
//             line-height: 140%;
//             padding-bottom: 40px;
//         }
//         &__button {
//             display: block;
//             text-align: center;
//             width: 80%;
//         }
//     }
//     .mobile {
//         display: block;
//         padding-bottom: 40px;
//     }
//     .tablet {
//         display: none;
//     }
// }

// @media screen and (min-width: 768px) {
//     .mobile {
//         display: none;
//     }
// }

.banner {
    padding-top: 40px;
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
    }
    &__heading {
        width: 55%;
    }
    &__image {
        width: 45%;
    }
    &__title {
        font-size: 60px;
        font-weight: 700;
        line-height: 140%;
        letter-spacing: 2.88px;
        text-transform: capitalize;
        padding-bottom: 18px;
        span {
            position: relative;
            color: #7879f1;
        }
        img {
            position: absolute;
            bottom: 5px;
            left: -10px;
            width: 190px;
        }
    }
    &__desc {
        color: #9f8fc1;
        font-size: 18px;
        letter-spacing: 0.72px;
        max-width: 500px;
        margin-bottom: 60px;
    }
    &__button {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 60px;
    }
    &__stats {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 50px;
        &-item {
            display: flex;
            align-items: center;
            flex-direction: column;
            &:nth-child(2) {
                border-left: 1px solid #a5a6f6;
                border-right: 1px solid #a5a6f6;
                padding: 0 50px;
            }
        }
        &-title {
            font-size: 17px;
            letter-spacing: 0.174px;
        }
        &-data {
            color: #a5a6f6;
            text-align: center;
            font-size: 40px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 0.523px;
        }
    }
    &__image {
        transform: skewX(-10deg);
        position: relative;
        &-card {
            width: 380px;
            height: 400px;
            object-fit: cover;
            flex-shrink: 0;
            border-radius: 16px;
            box-shadow: 16px 17px 35px 0px rgba(0, 0, 0, 0.09);
        }
    }
    &__blur,
    &__bid-title,
    &__blur2,
    &__author,
    &__bid {
        box-sizing: border-box;
        position: absolute;
        border-radius: 21.411px;
        background: linear-gradient(
            137deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.15) 100%
        );
        box-shadow: 0px 4px 52px 0px rgba(0, 7, 72, 0.12);
        backdrop-filter: blur(13px);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__blur {
        width: 350px;
        height: 250px;
        top: -30px;
        left: -30px;
        z-index: -10;
        &::before {
            content: "";
            position: absolute;
            width: 275px;
            height: 547px;
            transform: rotate(39deg);
            bottom: -250px;
            fill: rgba(143, 0, 255, 0.35);
            filter: blur(80px);
            background-color: #8f00ff59;
        }
    }
    &__bid-title {
        display: flex;
        align-items: center;
        gap: 2px;
        flex-direction: column;
        padding: 5px;
        width: 170px;
        top: -15px;
        right: 80px;
        z-index: 1;
        border-radius: 16px;
        color: #fff;
    }
    &__blur2 {
        width: 380px;
        height: 450px;
        top: 48px;
        right: 85px;
        z-index: -10;
        &::before {
            content: "";
            position: absolute;
            width: 300px;
            height: 200px;
            transform: rotate(39deg);
            bottom: 0px;
            right: 0;
            fill: rgba(173, 0, 255, 0.35);
            filter: blur(80px);
            background-color: #ad00ff59;
        }
    }

    &__author,
    &__bid {
        gap: 10px;
        padding: 10px 20px;
        width: 270px;
        height: 80px;
        z-index: 1;
    }
    &__author {
        right: 20px;
        bottom: -30px;
    }
    &__bid {
        left: -65px;
        bottom: -60px;
        color: white;
    }
}
.bid-now {
    font-size: 21px;
    font-weight: 700;
}
.bid-desc {
    font-size: 14px;
    font-weight: 500;
}

.image-item {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 8px;
}
.author {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.name-item {
    color: #fff;
    font-size: 23.975px;
    font-weight: 600;
    line-height: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}
.name-author {
    color: #fff;
    font-size: 13.917px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}
.eth-price {
    font-size: 23.693px;
    font-weight: 600;
    padding-bottom: 5px;
}
.eth-title {
    font-size: 14.987px;
    font-style: normal;
    font-weight: 400;
}
.dolar-price {
    text-align: right;
    font-size: 19.411px;
    font-weight: 600;
    padding-bottom: 5px;
}
.growth {
    color: #24ff00;
    text-align: right;
    font-size: 14.987px;
    font-style: normal;
    font-weight: 500;
}

@media screen and (max-width: 820px) {
    .banner {
        &__container {
            align-items: flex-start;
        }
        &__heading {
            width: 45%;
        }
        &__title {
            font-size: 40px;
            img {
                width: 130px;
            }
        }
        &__image {
            width: 55%;
            &-card {
                width: 300px;
                height: 320px;
            }
        }
        &__stats {
            &-data {
                font-size: 30px;
            }
            &-title {
                font-size: 16px;
            }
        }
        &__bid {
            display: flex;
            width: 210px;
            padding: 3px 10px;
            height: 70px;
            left: 0px;
            bottom: -75px;
        }
        &__blur2 {
            width: 300px;
            height: 370px;
            right: 60px;
        }
        &__bid-title {
            width: 150px;
        }
        &__blur {
            width: 300px;
        }
        &__author {
            display: flex;
            width: 200px;
            padding: 3px 10px;
            height: 70px;
            bottom: 0px;
        }
    }
    .name-item {
        font-size: 18px;
    }
    .eth-price,
    .bid-now {
        font-size: 18px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
    }
}

@media screen and (max-width: 820px) {
    .banner {
        &__container {
            flex-direction: column;
        }
        &__heading,
        &__image {
            width: 100%;
        }
        &__heading {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__title {
            text-align: center;
            padding: 40px 0;
        }
        &__desc {
            text-align: center;
        }
        &__image {
            display: none;
        }
    }
}
@media screen and (max-width: 640px) {
    .banner {
        &__title {
            font-size: 33px;
            img {
                width: 100px;
                bottom: 0px;
            }
        }
        &__stats {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            &-data {
                font-size: 22px;
            }
        }
        &__button {
            padding-top: 20px;
            &-small {
                padding: 10px 30px;
            }
        }
    }
}
