body {
    font-family: $font-primary;
    color: $white-color;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-transform: capitalize;
    background-color: $background-primary;
    font-size: 16px;
    background-color: #1e2354;
    font-family: "Poppins", sans-serif;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.button {
    font-family: "Poppins", sans-serif;
    padding: 15px 55px;
    display: block;
    width: max-content;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    font-weight: 600;
    background-color: $purple-color;
    transition: all 0.3s ease;
    color: $white-color;
    border-radius: 60px;
    border: none;

    &:hover {
        transform: scale(0.95);
    }
    &-primary {
        &:hover {
            color: $white-color !important;
        }
    }
    &-transparent {
        border: 2px solid $purple-color;
        background-color: transparent;
    }
    // &-collection {
    //     width: calc(100% - 110px);
    // }
    &-more {
        margin: 0 auto;
        margin-top: 50px;
        display: flex;
        align-self: center;
        justify-content: center;
    }
}

.text-title {
    font-size: 40px;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    background: linear-gradient(90deg, #69eacb 0%, #eaccf8 30%, #6654f1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 100px 0 50px;
}
