.subcribe {
    // background-color: #1c214a;
    padding-bottom: 60px;
    &__text {
        &-more {
            padding: 80px 0 0;
            margin-bottom: 20px;
        }
        &-join {
            font-size: 16px;
            margin-bottom: 40px;
            text-align: center;
        }
    }
    &__form {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 50%;
        margin: 0 auto;
        padding: 3px;
        border-radius: 100rem;
        border: 1px solid #ccc;
        background-color: #d9d9d9;
    }
    &__input {
        width: 100%;
        border-radius: 100rem;
        padding-left: 20px;
        outline: none;
        border: none;
        background-color: transparent;
        color: #333;
        font-size: 18px;
        font-family: "Poppins", sans-serif;
    }
}

@media screen and (max-width: 820px) {
    .subcribe {
        &__form {
            width: 70%;
        }
    }
}
@media screen and (max-width: 640px) {
    .subcribe {
        &__form {
            width: 100%;
        }
        &__button {
            padding: 10px 20px;
            font-size: 14px;
            font-weight: 500;
        }
        &__input {
            font-size: 14px;
        }
        &__text-more {
            padding-top: 0px;
        }
    }
}
// @media screen and (max-width: 480px) {
//     .subcribe {
//         &__wrapper {
//             margin: 0;
//         }
//         &__item {
//             width: calc(270px - 20px);
//             margin-left: 0;
//         }
//     }
// }
