.trending {
    margin-bottom: 160px;
    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: -30px;
        align-self: stretch;
        flex-wrap: wrap;
    }
    &__item {
        margin-left: 30px;
        width: calc(100% / 3 - 30px);
        background-color: transparent;
        padding-bottom: 50px;
    }
    &__image-top {
        width: 100%;
        height: 330px;
        cursor: pointer;
        margin-bottom: 10px;
        border-radius: 20px;
        object-fit: cover;
        transition: all 0.3s ease;
        &:hover {
            transform: scale(0.95);
        }
    }
    &__main {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-left: -15px;
        align-self: stretch;
        &-item {
            width: calc(100% / 3 - 15px);
            margin-left: 15px;
            border-radius: 20px;
            cursor: pointer;
            transition: all 0.3s ease;
            display: flex;
            align-items: center;
            justify-content: center;
            object-fit: cover;
            &:hover {
                transform: scale(0.95);
            }
            &:last-child {
                background-color: $purple-color;
                font-size: 18px;
                font-family: $font-secondary;
                font-weight: 700;
                line-height: 160%;
                text-align: center;
                width: 100px;
                height: 100px;
            }
        }
    }
    &__info {
        width: 100%;
    }
    &__name {
        padding: 10px 0;
        font-size: 22px;
        font-weight: 600;
        line-height: 140%;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
    }
    &__author {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 12px;
        cursor: pointer;
        &-image {
            width: 30px;
            height: 30px;
            border-radius: 20px;
            object-fit: cover;
            transition: all 0.3s ease;
            &:hover {
                transform: scale(0.95);
            }
        }
        &-name {
            font-size: 16px;
            font-weight: 400;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-word;
        }
    }
    // &.treding__author-image {}
}
