/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Work Sans", sans-serif;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  text-transform: capitalize;
  background-color: #2b2b2b;
  font-size: 16px;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1050px;
  padding: 0 115px;
  margin: 0 auto;
}

.button {
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 12px;
  border-radius: 20px;
  padding: 19px 30px;
  background-color: #a259ff;
  line-height: 140%;
}
.button-started {
  color: #ffffff;
  padding: 19px 50px;
}

.header {
  margin-bottom: 80px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 34px 50px;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__logo-icon {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.header__logo-text {
  width: 199.414px;
  height: 19.8px;
  flex-shrink: 0;
  fill: #ffffff;
  padding-top: 5px;
}
.header__menu {
  display: flex;
  height: 46px;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.header__item {
  padding: 0px 20px;
}
.header__link {
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
}
.header__link ion-icon {
  width: 20px;
  height: 20px;
}

.banner__container {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
.banner__heading, .banner__image {
  width: 50%;
}
.banner__heading {
  max-width: 510px;
}
.banner__title {
  font-size: 67px;
  font-weight: 600;
  line-height: 110%;
  padding-bottom: 20px;
}
.banner__desc {
  font-size: 22px;
  line-height: 160%;
  padding-bottom: 30px;
}
.banner__started {
  text-decoration: none;
  margin-bottom: 30px;
}
.banner__info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
  align-self: stretch;
}
.banner__info-data {
  font-weight: 700;
  font-size: 28px;
  font-family: "Work Sans", sans-serif;
  line-height: 140%;
}
.banner__info-title {
  font-size: 23.99px;
  font-weight: 400;
  line-height: 160%;
}
.banner__image-gif {
  width: 510px;
  height: 510px;
}

/*# sourceMappingURL=style.css.map */
